" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins



set history=500
set scrolloff=5
set incsearch
set hlsearch
set showmatch
set autoinent
set clipboard=unnamedplus
let mapleader="\<Space>"

syntax on
map Q gq

Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

"nnoremap  <leader>r <Action>(ReformatCode)

map <C-n> :NERDTree<cr>
map <C-j> <C-W>j
map <C-k> <C-W>k
map <C-h> <C-W>h
map <C-l> <C-W>l

map <leader><leader> :nohl<cr>
map <leader>wv :action SplitVertically<cr>
map <leader>wh :action SplitHorizontally<cr>
" map <leader>bd :action CloseContent<cr>
" map <leader>bD :action CloseAllEditors<cr>
map <leader>bb :action Switcher<cr>
nnoremap <leader>bo :action FileStructurePopup<cr>
" map <leader>ff :action SelectInProjectView<cr>

nnoremap <leader>r :action RenameElement<cr>

map <leader>fr :action RecentFiles<cr>
nnoremap <leader>ff :action ReformatCode<cr>
vmap     <leader>ff :action ReformatCode<cr>
nmap <leader>fs :action SelectInProjectView<cr>

nmap <leader>b[ :action Back<cr>
nmap <leader>f :action Forward<cr>
nmap <leader>pu :action Vcs.Push<cr>
nmap <leader>gf :action GotoFile<cr>

nmap gd :action GotoDeclaration<cr>
nmap gi :action GotoImplementation<cr>
nmap gt :action GotoTypeDeclaration<cr>
nmap <leader>t :action ExpressionTypeInfo<cr>

map q :action CloseContent<cr>
map Q :action CloseAllEditors<cr>
set ideajoin